{% extends 'fgapp/base.html' %}

{% block content %}
    <h1>Crops And Prices</h1>

    <table class=" table table-dark">
        <thead>
            <tr>
            <th scope="col">Crop</th>
            <th cope="col">Measure</th>
            <th cope="col">Market</th>
            <th cope="col">Retail</th>
            <th cope="col">Wholesale</th>
            <th cope="col">Year</th>
            {% for price in prices %}
        </tr>
        </thead>
        <tbody>
            <td>{{ price.crop_id }}</td>
            <td>{{ price.measure }}</td>
            <td>{{ price.market_id }}</td>
            <td>{{ price.retail_price }}</td>
            <td>{{ price.wholesale_price }}</td>
            <td>{{ price.year }}</td>


        </tbody>
            {% endfor %}
    </table>

{# {% render_table prices %}#}
{% endblock %}

